.wrapper {
    min-height: 100%;
    background: linear-gradient(150deg, rgb(18, 214, 253), rgb(252, 151, 216));
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.main {
    width: 500px;
    position: relative;
}

.content {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 75px;
    color: rgb(243, 243, 243);
}

body {
    font-family: 'Shantell Sans', cursive;
}

.title {
    font-size: 80px;
    color: red;
    animation: opacity 2s 3s backwards;
}

.main__text-wrap {
    width: 500px;
    position: relative;
}

.main__img-wrap {
    animation: opacity 3s;
    position: relative;
}